body {
  background-color: #007F5F;
}

h1 {
  text-align: center;
  font-family: arial;
  font-size: ;
  color: #80B918;
}

h2 {
  text-align: center;
  font-family: arial;
  font-size: ;
  color: #80B918;
}